/* Reduce spacing on sides, o.g. 800px */
.markdown-section {
	max-width: 90%;
}

/* Reduce spacing on top, o.g. 60px */
.content {
	padding-top: 0;
}

/* Make Pagination Bottom Sticky */

.pagination-item {
	margin-top: 0;
}

.docsify-pagination-container {
    position: fixed; 
	bottom: 0;
	left: 0;
	right: 0;
	height: 4em;
	background-color: #ffffff;
	margin: 0 5em;
}

/* Left and Right Slide */
.slide-container {
	float:left;
	width: 50%;
	padding: 10px;
}